header:after {
    content: "";
    display: table;
    clear: both;
}

header #logo {
    float: left;
    margin: 0;
}

header #searchbox {
    float: right;
    margin: 0;
}

main {
    float: right;
    width: 80%;
}

aside {
    display: block;
    font-size: 83.33333%;
}

aside dl dd {
    margin: 0 0 1ex;
}

