header:after {
    content: "";
    display: table;
    clear: both;
}

header #logo {
    float: left;
    margin: 0;
}

header #searchbox {
    float: right;
    margin: 0;
}

.twocol main {
    float: left;
    width: 80%;
}

.twocol aside {
    display: block;
    font-size: 83.33333%;
    margin-left: 85%;
}

.twocol aside dl dd {
    margin: 0 0 1ex;
}

